<div class="navitagorDiv" th:fragment="html">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<!--<img style="margin-left:10px;margin-right:0px" class="pull-left" src="img/site/tmallbuy.png" height="45px">
		-->
		<a class="navbar-brand" href="admin_type_list">英奇酒店管理系统</a>
		
		<a class="navbar-brand" href="admin_room_list">房间管理</a>
		<a class="navbar-brand" href="admin_customer_list">顾客信息</a>
		<a class="navbar-brand" href="admin_booking_list">预订管理</a>
		<a class="navbar-brand" href="admin_card_list">卡片管理</a>
		<a class="navbar-brand" href="admin_order_list">流水记录</a>

	</nav>
</div>
