<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('编辑分类')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
    $(function(){
        var data4Vue = {
            uri: 'customers',
            listURL:'admin_customer_list',
            bean: ''
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.get();
            },
            methods: {
                get:function(){
                    var id = getUrlParms("id");
                    var url = this.uri+"/"+id;
                    axios.get(url).then(function(response) {
                        vue.bean = response.data;
                    })
                },
                update:function () {
                    if(!checkEmpty(this.bean.name, "顾客姓名"))
                        return;
                    if(!checkEmpty(this.bean.sex, "顾客性别"))
                        return;
                    if(!checkNumber(this.bean.telphone, "顾客电话"))
                        return;
                    if(!checkEmpty(this.bean.document, "顾客证件"))
                        return;
                    if(!checkNumber(this.bean.documentnumber, "证件号码"))
                        return;
                    if(!checkEmpty(this.bean.lvxingtuan, "旅行团"))
                        return;
//                    if(!checkEmpty(this.bean.remark, "是否"))
//                        return;

                    var url = this.uri;
                    axios.put(url,this.bean).then(function(response){
                        location.href=vue.listURL;
                    });
                },
            }
        });
    });
</script>

<div id="workingArea">

    <ol class="breadcrumb">
        <li><a href="admin_customer_list">所有顾客</a></li>
        <li class="active">编辑顾客</li>
    </ol>

    <div class="panel panel-warning editDiv">
        <div class="panel-heading">编辑顾客</div>
        <div class="panel-body">
            <table class="editTable">
                <tr>
                    <td>顾客姓名</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>顾客性别</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.sex" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>顾客电话</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.telphone" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>顾客证件</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.document" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>证件号码</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.documentnumber" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>旅行团</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.lvxingtuan" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>备注信息</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.remarks" type="text" class="form-control"></td>
                </tr>

                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <input type="hidden" name="id"   v-model.trim="bean.id" >
                        <a href="#nowhere" class="btn btn-success" @click="update">提 交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>






