<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('编辑卡片')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
    $(function(){
        var data4Vue = {
            uri: 'cards',
            listURL:'admin_card_list',
            bean:''
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.get();
            },
            methods: {
                get:function(){
                    var id = getUrlParms("id");
                    var url = this.uri+"/"+id;
                    axios.get(url).then(function(response) {
                        vue.bean = response.data;
                    })
                },
                update:function () {
                    if(!checkEmpty(this.bean.category, "卡片类型"))
                        return;
                    if(!checkEmpty(this.bean.state, "卡片状态"))
                        return;
                    if(!checkNumber(this.bean.locknum, "卡片锁号"))
                        return;

                    var url = this.uri;
                    axios.put(url,vue.bean).then(function(response){
                        location.href=vue.listURL;
                    });
                },
            }
        });
    });
</script>

<div id="workingArea">

    <ol class="breadcrumb">
        <li><a href="admin_card_list">所有卡片</a></li>
        <li class="active">编辑卡片</li>
    </ol>

    <div class="panel panel-warning editDiv">
        <div class="panel-heading">编辑卡片</div>
        <div class="panel-body">
            <table class="editTable">
                <tr>
                    <td>卡片类型</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.category" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>卡片状态</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.state" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>锁号</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.locknum" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>备注信息</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.remarks" type="text" class="form-control"></td>
                </tr>

                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <input type="hidden" name="id"   v-model.trim="bean.id" >
                        <a href="#nowhere" class="btn btn-success" @click="update">提 交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>






