<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('编辑分类')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
    $(function(){
        var data4Vue = {
            uri: 'rooms',
            listURL:'admin_room_list',
            bean: ''
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.get();
            },
            methods: {
                get:function(){
                    var id = getUrlParms("id");
                    console.log(id);
                    var url = this.uri+"/"+id;
                    axios.get(url).then(function(response) {
                        vue.bean = response.data;
                    })
                },
                update:function () {
//                    if(!checkNumber(this.bean.building.id, "房间所属楼栋"))
//                        return;
                    if(!checkNumber(this.bean.roomnum, "房间门牌号"))
                        return;
                    if (!checkEmpty(this.bean.type.name, "房间类型"))
                        return;
                    if (!checkNumber(this.bean.type.price, "房间单价"))
                        return;
                    if (!checkNumber(this.bean.type.deposit, "房间押金"))
                        return;
                    if (!checkEmpty(this.bean.state, "房间状态"))
                        return;

                    var url = this.uri;

                    axios.put(url,vue.bean).then(function(response){
                        location.href=vue.listURL;
                    });
                }
            }
        });
    });
</script>

<div id="workingArea">

    <ol class="breadcrumb">
        <li><a href="admin_room_list">所有房间</a></li>
        <li class="active">编辑房间</li>
    </ol>

    <div class="panel panel-warning editDiv">
        <div class="panel-heading">编辑房间</div>
        <div class="panel-body">
            <table class="editTable">
                <!--<tr>-->
                    <!--<td>房间所属楼栋</td>-->
                    <!--<td><input  @keyup.enter="update" v-model.trim="bean.building.id" type="text" class="form-control"></td>-->
                <!--</tr>-->
                <tr>
                    <td>房间门牌号</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.roomnum" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>房间类型</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.type.name" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>房间单价</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.type.price" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>房间押金</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.type.deposit" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>房间状态</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.state" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>备注</td>
                    <td><input  @keyup.enter="update" v-model.trim="bean.remarks" type="text" class="form-control"></td>
                </tr>

                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <input type="hidden" name="id"   v-model.trim="bean.id" >
                        <a href="#nowhere" class="btn btn-success" @click="update">提 交</a>
                    </td>
                </tr>



            </table>
        </div>
    </div>
</div>

<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>






