<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('房间展示')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
    $(function(){
       // var cbd = bd;
        var data4Vue = {
            uri:'rooms',
            beans: [],
            bean: {id:0,building:{id:0},type:{id:0},'roomnum':9999,'state':'空净房',remarks:''},
            pagination:{},
            building:'',
            type:'',
            bd:'',
            td:''
        };

        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.list(0);
            },

            methods: {
                list:function(start){
                    var url =  this.uri+ "?start="+start;
                    axios.get(url).then(function(response) {
                        vue.pagination = response.data;
                        vue.beans = response.data.content;
                    });
                },

                // 参考 tmall, 首先获得 building 的信息
                getBuilding:function (bd) {
                   // console.log( "本函数调用" + bd);
                    var url = "buildings/" + bd;
                    axios.get(url).then(function(response){
                        vue.building = response.data;
                        console.log("楼栋本地函数：" + vue.building.id);
                        console.log("楼栋本地函数：" + vue.building.buildingname);
//                        console.log("本地函数：" + vue.building.remarks);
                    })
                },

                getType:function (td) {
                    // console.log( "本函数调用" + bd);
                    var url = "typies/" + td;
                    axios.get(url).then(function(response){
                        vue.type = response.data;
                        console.log("房间类型本地函数：" + vue.type.id);
//                        console.log("本地函数：" + vue.building.buildingname);
//                        console.log("本地函数：" + vue.building.remarks);
                    })
                },

                // add 函数
                add: function (bd,td) {
                    this.getBuilding(bd);
                    this.getType(td);
//                    if(!checkNumber(this.bean.bid, "房间所属楼栋"))
//                        return;
//                    if (!checkNumber(this.bean.tid, "房间类型"))
//                        return;
                    if (!checkNumber(this.bean.roomnum, "房间门牌号"))
                        return;
                    if (!checkEmpty(this.bean.state, "房间状态"))
                        return;

                    // 调用成功
//                    console.log("当前楼栋的 id:" + this.building.id);
//                    console.log("直接获取当前的 bd :" + bd);

                    var url = this.uri;
                    this.bean.building.id = bd;
//                    console.log("赋值后的 id" + this.bean.building.id);
//                    console.log("查看当前房间的房号" + this.bean.roomnum);

                    this.bean.type.id = td;

                    axios.post(url,this.bean).then(function(response){
                        vue.list(0);
                        vue.bean =  {id:0,building:{id:0},type:{id:0},'roomnum':9999,'state':'空净房',remarks:''}
                    });
                },


                // delete 函数
                deleteBean: function (id) {
                    if(!checkDeleteLink())
                        return;
                    var url = this.uri+"/"+id;
                    axios.delete(url).then(function(response){
                        if(0!=response.data.length){
                            alert(response.data);
                        }
                        else{
                            vue.list(0);
                        }
                    });
                },

                jump: function(page){
                    jump(page,vue); //定义在adminHeader.html 中
                },
                jumpByNumber: function(start){
                    jumpByNumber(start,vue);
                }
            }
        });
    });

</script>
<div id="workingArea" >
    <h1 class="label label-info" >房间展示</h1>
    <br>
    <br>
    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>房间所属楼栋</th>
                <th>房间门牌号</th>
                <th>房间类型</th>
                <th>房间单价</th>
                <th>房间押金</th>
                <th>房间状态</th>
                <th>备注信息</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="bean in beans ">
                <td>{{bean.id}}</td>

                <td>
                   <!--{{building.name}}-->
                    {{bean.building.buildingname}} # {{bean.building.id}}
                </td>

                <td>
                    {{bean.roomnum}}
                </td>

                <td>
                    {{bean.type.name}}
                </td>

                <td>
                    {{bean.type.price}}
                </td>

                <td>
                    {{bean.type.deposit}}
                </td>

                <td>
                    {{bean.state}}
                </td>

                <td>
                    {{bean.remarks}}
                </td>

                <td>
                    <a :href="'admin_room_edit?id=' + bean.id "><span class="glyphicon glyphicon-edit"></span></a>
                </td>
                <td>
                    <a href="#nowhere"  @click="deleteBean(bean.id)"><span class="glyphicon glyphicon-trash"></span></a>
                </td>

                <!--
                                <td>
                                    <a :href="'admin_property_list?cid=' + bean.id "><span class="glyphicon glyphicon-th-list"></span></a>
                                </td>
                                <td>
                                    <a :href="'admin_product_list?cid=' + bean.id "><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                </td>
                                <td>
                                    <a :href="'admin_category_edit?id=' + bean.id "><span class="glyphicon glyphicon-edit"></span></a>
                                </td>
                                <td>
                                    <a href="#nowhere"  @click="deleteBean(bean.id)"><span class="   glyphicon glyphicon-trash"></span></a>
                                </td>
                               -->
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="include/admin/adminPage::html" ></div>



    <div class="panel panel-warning addDiv">
        <div class="panel-heading">新增类型</div>
        <div class="panel-body">
            <table class="addTable">
                <tr>
                    <td>房间所属楼栋</td>
                    <!--<td><input  @keyup.enter="getBuilding(bid)" v-model.trim="bid" type="text" class="form-control"></td>-->
                    <!--<div>-->
                        <td><input  type="text"   class="form-control" v-model="bd"></td>
                    <p> {{bd}}</p>
                        <!--<div v-if="bd > 0" ></div>-->
                    <!--</div>-->

                </tr>

                <tr>
                    <td>房间类型</td>
                    <td><input    type="text" class="form-control" v-model = "td"></td>
                    <p>{{td}}</p>
                </tr>

                <tr>
                    <td>房间门牌号</td>
                    <td><input  @keyup.enter="add" v-model.trim="bean.roomnum" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>房间状态</td>
                    <td><input  @keyup.enter="add" v-model.trim="bean.state" type="text" class="form-control"></td>
                </tr>

                <tr>
                    <td>备注信息</td>
                    <td><input  @keyup.enter="add" v-model.trim="bean.remarks" type="text" class="form-control"></td>
                </tr>

                <tr class="submitTR">
                    <td colspan="2" align="center">
                        <a href="#nowhere"  @click="add(bd,td)" class="btn btn-success">提交</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>




</div>
<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>
