<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 倒置的导航栏</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<script src="../jquery/jquery.min.js"></script>-->
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <script src="js/axios/0.17.1/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-router/2.7.0/vue-router.min.js"></script>

    <style type="text/css">
        .divstyle{
            background: darkgray;
            height:60px;
            width:60px;
            margin:10px;
            float:left
        }
    </style>

</head>

<body>

<!-- 引入顶部导航栏 -->
<div th:replace="include/admin/testNavigator::html" ></div>
<br>
<br>
<br>
<br>

<div id="app">
    <div class="container">
         <div class="row">

             <div class="col-lg-2 col-md-2 col-sm-2">
                 <ul  class=" nav nav-pills nav-stacked">
                    <li><a href="../information.html">入住</a></li>
                    <li class="active"><a href="../selectroom.html">选房</a></li>
                    <li><a href="../money.html">押金</a> </li>
                </ul>
            </div>

             <div class="col-lg-10 col-md-10 col-sm-10 ">
                 <form class="form-inline" role="form" style="margin-bottom: 20px">
                        <label>房间类型&nbsp</label>
                        <br><br>
                        <select class="form-control"  v-model="selected" >
                    　　      <option v-for="item in optList">{{ item }}</option>
                        </select>
                        <br><br>
                 </form>

                 <div v-for="item in search(selected)":key="item.id" >
                    <div class="divstyle" v-show="dialog_visible" v-model="clicked "
                         v-model="item.id" v-model="item.name" @click=" del(item.id);add(item.id,item.name)">
                        <p>{{item.id}} {{item.name}}</p>
                        <!-- 当前元素如果被点击，就将该元素从原来的集合中删除，添加进新的集合 -->
                    </div>
                 </div>

                 <!--订单信息表-->
            <div class="listDataTableDiv ">
                <table class="table table-striped table-bordered table-hover  table-condensed  ">
                    <thead>
                    <tr class="success">
                        <th>房间号码</th>
                        <th>房间类型</th>
                        <th>编辑</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in newList1" :key="item.id">
                        <td>{{item.id}}</td>
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            <a href="#" @click="addold(item.id,item.name);
                            delnew(item.id)"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</div>

<script>

    var vm= new Vue({
        el: '#app',
        data: {
            id:'',
            name:'',
            id1:'',
            name1:'',
            keywords:'',
            selected: '',
            clicked: true,
            optList: [],
            list:[],
            newList1: [],
            dialog_visible: true
        },

        mounted: function(){
            this.getRoomType();
            this.getRoomsBytype();
        },

        methods: {

            // 根据房间类型获取房间号
            getRoomsBytype:function(){
                var uri = 'getroomnum';
                var data = [];

                axios.get(uri).then(function (response) {
                    var responseData = response.data;
                    for(var key in responseData){
                        var  keyvalue = response.data[key];
                        for(var i in keyvalue){
                            data.push({"id":keyvalue[i],"name":key})
                        }
                    }
                    vm.list = data;
                })
            },

            // 访问后台取出房间类型的数据
            getRoomType: function(){
                var uri = 'alltypies';
                axios.get(uri).then(function (response) {
                    vm.optList = response.data;
                });
            },

            showDialog(visible)
            {
                this.dialog_visible = visible;
            },

            showClicked(checked)
            {
                this.checked =  checked;
            },

            // 将获取到的关键字传入 search 函数，查看该关键字对应的 id
            search(keywords) {
                var newList = [];
                this.list.forEach(item => {
                    if (item.name.indexOf(keywords) != -1) {
                        newList.push(item);
                    }
                });
                return newList
            },

            addold(id2,name2) {
                var car = {id:id2, name: name2};
                this.list.push(car)
            },

            add(id1,name1) {
                this.id1 = id1;
                this.name1 = name1;
                var car = {id: id1, name:name1};
                this.newList1.push(car)
            },

            delnew(id) {
                this.newList1.some((item, i) => {
                    if (item.id == id) {
                        this.newList1.splice(i, 1);
                        return true;
                        console.log(item.id);
                    }
                })
            },

            del(id) {
                this.list.some((item, i) => {
                    if (item.id == id) {
                        this.list.splice(i, 1);
                        return true;
                    }
                })
            },


        }
    });

</script>
</body>
</html>
