<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 倒置的导航栏</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<script>
    $(function () {
        $('#myTab li:eq(1) a').tab('show');
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div>
                <ul id="myTab" class="nav nav-pills nav-stacked"style="margin-top:100px;">
                    <li class="active"><a href="#">用户登记</a></li>
                    <li><a href="#">选定房间</a></li>
                    <li ><a href="#" data-toggle="modal" data-target="#yajin">押金</a></li>
                    <li><a href="#ios" data-toggle="tab">iOS</a></li>
                </ul>

            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 ">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">
            <form class="">
                <h4 class="page-header">房间信息</h4>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="name">房间类型</label>
                            <select class="form-control" id="roomtype">
                                <option value="身份证">标准间</option>
                                <option value="驾驶证">大床房</option>
                                <option value="护照">单人间</option>
                                <option value="护照">套房</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="form-group">
                            <label for="name">房间号</label>
                            <select class="form-control" id="roomnum">
                                <option value="男">1</option>
                                <option value="女">2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <h4 class="page-header">天数</h4>
                <div class="form-group">
                    <label for="name">入住天数</label>
                    <input type="text" class="form-control" id="day" placeholder="天数">
                </div>

                <h4 class="page-header">个人信息</h4>
                <div class="form-group">
                    <label for="name">姓名</label>
                    <input type="text" class="form-control" id="name1" placeholder="请输入名称">
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="name">性别</label>
                            <select class="form-control" id="sex">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="form-group">
                            <label for="name">电话号码</label>
                            <input type="text" class="form-control" id="telephone1" placeholder="请输入名称">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">证件类型</label>
                    <select class="form-control" id="idtype">
                        <option value="身份证">身份证</option>
                        <option value="驾驶证">驾驶证</option>
                        <option value="护照">护照</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="name">证件号码</label>
                    <input type="text" class="form-control" id="idnum" placeholder="请输入时间">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-default">提交</button></div>
            </form>

            <form class="invisible">
                <h4 class="page-header">押金</h4>
                <div class="form-group">
                    <label for="name">应收押金</label>

                </div>
                <div class="form-group">
                    <label for="name">实收押金</label>
                    <input type="text" class="form-control" id="money" placeholder="实收押金">
                </div>
            </form>
        </div>
                <div class="tab-pane fade" id="ios">
                    <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                        TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
                </div>
        </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3">
        </div>

</div>

<!--跳转界面1-->
<div class="modal fade" id="yajin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="myModalLabel">入住收费</h4>
            </div>
            <div class="modal-body">
                <form role="form" style="padding:10px 5px 15px 20px">

                    <div class="form-group">
                        <label for="name1">应收押金押金</label>

                    </div>
                    <div class="form-group">
                        <label for="name">实收押金</label>
                        <input type="text" class="form-control" id="outtime" placeholder="请输入名称">
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
</body>
</html>